
name: Automated API tests using Postman CLI

on:
  push:
    branches: [ main ]

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
          echo "$HOME/.postman/bin" >> $GITHUB_PATH

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run API tests
        run: |
          postman collection run "SEU_COLLECTION_ID" \
          -e "SEU_ENVIRONMENT_ID" \
          --reporters cli
